@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

body{
    background:linear-gradient(to bottom, #ec525f,#fe0016);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* nav contenedor de todo */ 

.contenedor{
    background:white;
    width: 80%;
    height: 80%;
    margin: 40px auto;
    padding: 40px;
}

/* nav contenedor de todo */ 


/* menu */

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #b71422;
    padding: 50px;
}

.menu a{
    margin: 0 30px; 
    color: #ffffff;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* menu */

/* Footer */

.footer{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer p{
    color: #b71422;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
    margin: 20px auto;
}

.footer a{
    color: #b71422;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* Footer */


/* Contenedor juegos / consolas */

.contJC{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items:center;
    gap: 150px;
    width: 80%;
    height: fit-content;
    padding: 20px;
    margin: 40px auto;
}

.contJC img{
    width: 600px;
    height: 600px;
    display: block;
    border-radius: 10px;
    object-fit:fill;
}

.textoJC{
    position: absolute;
    background: none;
    color: white;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8); 
    padding: 0;
}

.textoJC h2{
    margin: 0;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #b71422;
}

.textoJC h3{
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0 0;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    color: #b71422;
}


/* Contenedor juegos / consolas */

.textoTitulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #b71422;
    text-align: center;
    font-size: 80px;
}

#textoIndex {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #b71422;
    text-align: center;
    font-size: 50px;
}

